body
{
    background-size: cover;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
    font-size: 22px;
}
.heading button{
    float: right;
    border: 1px solid white;
}
li
{
    font-size: 25;
}
#footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
#wow
{
    color: black;
}